@font-face {
    font-family: "alkatra";
    src: url("../../assets/fonts/Alkatra/Alkatra-VariableFont_wght.ttf");
}

@font-face {
    font-family: "fonstar";
    src: url("../../assets/fonts/fonstars/Fonstars-4Bo0p.otf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "alkatra", sans-serif;
    background-color: var(--body-color);
    color: var(--letter-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
